<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Concert Tracker</title>
  </head>
  <body>
    <h1>Concert Tracker</h1>
    <p>An app to track all your concerts!</p>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
  </body>
</html>
